@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Knewave&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    background-color: black;
    height: 100%;
    width: 100%;
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

body {
    min-height: 100%; 
    width: 100vw;
    position:relative; 
    padding-bottom: 50px; /*footer*/
    animation: transitionIn 1s;
    background-color: #F5F6F7;
}

/*If body is wider than 1536, there will be whitespace instead of being stretched out?*/
@media (min-width: 1536px){
    body {
        width: 1536px;
        margin: 0 auto;
    }
}

a {
    text-decoration: none;
    color: unset;
}

#bb {
    font-weight: 900;
    font-style: italic;
    font-size: 32px;
    text-transform: uppercase;
}

nav {
    background-color: #1A1A1A;
    color: whitesmoke;
    text-transform: lowercase;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    z-index: 1;
    position: fixed;
    width: 100vw;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5)
}

@media (min-width: 1536px){
    nav {
        width: 1536px;
        margin: 0 auto;
    }
}

nav ol {
    margin: 10px;
}

nav li {
    display: inline;
    padding: 0 5vw;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

nav #logo img{
    width: 80px;
}

nav #logo {
    margin: 20px auto;
    width: 80px;
}

#wrapper {
    width: 100%;
    padding-top: 130px;
}
/*     @media (max-width:1280px) {
        #wrapper {
            width: 100%;
        }
    } */


/*HEADER*/ 
#header #ball {
    position: absolute;
    top: calc(140px + 5vh); 
    right: 5vw;
}
#header #ball img {
    width: 20vw;
    max-width: 250px;
}

#header {
    width: 100%;
    background: url(../img/swoosh1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

#header .container {
    display: flex;
    justify-content: center;
    margin: 5% 10%;
    background-image: url(../img/backgr3.png);
    background-size: cover;
    background-color: #1A1A1A;
    border-radius: 30px;
    color: #F5F6F7;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3)
}

#header .text {
    height: calc(80vh - 140px);
    max-height: 450px;
    width: 40%;
    text-align: left;
    vertical-align: middle;

    display: flex;
    justify-content: center;
    align-items: center;
}

#header .text h1 {
    color: #F5F6F7;
    font-family: 'Raleway', Serif;
    font-size: 28px;
    font-weight: 600;
}

#header .text p {
    color: #535659;
    font-size: 20px;
}

#header .text #container {
    width: 80%;
    text-align: left;
}

#header .video {
    height: calc(80vh - 140px);
    max-height: 450px;
    width: 50%;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:768px) { 
    #header .container {
        display: block;
        margin: 5%;
        padding: 5%;
        background-size: cover;
        background-color: #1A1A1A;
        border-radius: 30px;
        color: #F5F6F7;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3)
    }
    #header .text {
        height: unset;
        width: 100%;
        padding: 5%;
    }
    #header .text #container {
        width: 80%;
        text-align: left;
    }
    #header .video {
        height: unset;
        width: 100%;
        padding: 5%;
        margin: 0 auto;
    }
    
}

@media (max-width: 450px) {
    #header {
        padding: 12% 2% 2% 2%;
    }
    #header .container {
        background: none;
        box-shadow: none;
        padding: 0;
    }
    #header .video {
        width: 100%;
    }
    #header .text {
        height: 100%;
        width: 100%;
    }
    #header .text #container {
        width: 100%;
        text-align: center;
        background-size: cover;
        background-color: #1A1A1A;
        border-radius: 30px;
        color: #F5F6F7;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
        padding: 15%;
    }

    #header .hideme {
        display: none;
    }

    #header .text h1 {
        font-size: 20px;
    }
    
    #header .text p {
        font-size: 14px;
    }

    #header .text #bb {
        font-size: 24px;
    }
}

/*SHAWNE*/
#shawne {
    display: flex;
    margin: 5% auto;
    justify-content: center;
    height: calc(80vh - 140px);
    max-height: 400px;
    background-color: #1A1A1A;
    
}

#shawne #container {
    display: flex;
    text-align: center;
    
    justify-content: center;

}

#shawne #container img {
    width: 100%;
    vertical-align: bottom;
}

#shawne #container .text {
    padding: 5%;
    font-size: 16px;
    align-items: center;
    text-align: left;
    color: #F5F6F7;
}

#shawne .shawne-pose {
    width: 20%; 
    align-items: flex-end;
}

#shawne .shawne-text{
    width: 35%; 
    align-items: center;
}

#shawne .shawne-throw{
    width: 30%; 
    align-items: flex-end;
}

@media (max-width:768px) {
    #shawne .shawne-pose {
        width: 0%;
    }
    #shawne .shawne-text{
        width: 40%; 
        align-items: center;
    }
    
    #shawne .shawne-throw{
        width: 50%; 
        align-items: flex-end;
    }
}

@media (max-width:450px) {

    #shawne {
        display: block;
        max-height: none;
        height: fit-content;
        text-align: center;
    }

    #shawne .shawne-pose {
        width: 0%;
    }

    #shawne #container .text {
        text-align: center;
    }

    #shawne .text h1{

        font-size: 24px;
    }

    #shawne .text #bb {
        font-size: 24px;
    }
    #shawne .shawne-text{
        width: 100%; 
        
        margin: 0 auto;
    }
    
    #shawne .shawne-throw{
        width:80%; 
        margin: 0 auto;
    }
}

#shawne #container p {
    color: #666867;
}

#shawne #container i{
    color: #666867;
}


/*SHOP*/
#shop {
    margin: 5% 25px;
    text-align: center;
}

#shop #container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #F5F6F7;
    justify-content: space-between;
    flex-wrap: wrap;
}

#shop #container #box {
    width: 22%;
    font-size: 14px;
}

#shop .pro-image {
    width: 100%;
}

@media (max-width:768px){
    #shop #container #box {
        width: 44%;
        padding-bottom: 25px;
    }   
}

@media (max-width:450px) {
    #shop {
        margin: 15% ;
    }
    #shop #container #box {
        width: 88%;
        margin: 0 auto;
        text-align: center;

    }  
}

/*GALLERY*/
#gallery {
    padding: 5% 0px;
    
}

#gallery ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  
#gallery li {
    height: 40vh;
    max-height: 300px;
    flex-grow: 1;
  }
#gallery li:last-child {
    flex-grow: 10;
  }
  
#gallery img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }


  @media (max-aspect-ratio: 1/1) {
    #gallery li {
      height: 30vh;
    }
  }
  @media (max-height: 480px) {
    #gallery li {
      height: 80vh;
    }
  }
  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    #gallery ul {
      flex-direction: row;
    }
  
    #gallery li {
      height: auto;
      width: 100%;
    }
  
    #gallery img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }

    .hideme {
        display: none;
    }
  }

/*OUR STORY*/
#about {
    padding: 5% 10%;
    background-color: #bebebe;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    display: inline-flex;
    align-items: center;
    color: #1A1A1A;
}

#about img {
    float: right;
}

@media (max-width:768px) {
    #about {
        padding: 20% 15%;
    }
}

/*CONTACT US*/
#contact-us {
    padding: 5% 5% 15% 5%;
}

#contact-us .container {
    padding: 5%;
    background-image: url(../img/backgr3.png);
    background-size: cover;
    background-color: #1A1A1A;
    border-radius: 30px;
    color: #F5F6F7;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3)
}

@media (max-width:768px) {
    #contact-us {
        padding: 15% 5% 5% 5%;
    }
    #contact-us .container {
        padding: 20% 15%;
    }
}

#submit {
    background-color: #f82f21;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0px;
    transition: .3s;
  }
  #submit:hover {
    background-color: rgb(204, 34, 34);
  }
  #fname {
    width: 100%;
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: Raleway, Arial, Helvetica, sans-serif;
  }
  #email {
    width: 100%;
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: Raleway, Arial, Helvetica, sans-serif;
  }
  #message {
    width: 100%;
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: Raleway, Arial, Helvetica, sans-serif;
  }

/*LEGAL*/
#legal {
    padding-top: 140px;
}

#legal .container {
   padding: 5%;
}

/*FOOTER*/

.zoom {
    transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
    transform: scale(1.025);
}


footer {
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #1A1A1A;
    padding: 5% 5% 10% 5%;
    color: #5c5c5c;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}

footer #socials {
    text-align: right;
}

footer li {
    text-decoration: none;
    list-style: none;
    padding: 7px;
}

footer #contact i {
    font-size: 15px;
    padding-right: 10px;
    transition: .3s;
}

footer #socials i {
    font-size: 32px;
    padding: 7px;
    transition: .3s;
}

footer a {
    transition: .3s;
}

footer a:hover {
    color: rgb(252, 47, 32);
}

footer #bar {
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    background-color: black;
    padding: 10px;
    text-align: center;
    font-weight: 300;
}

@keyframes transitionIn {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }
}


#shop:before { 
    display: block; 
    content: " "; 
    margin-top: -170px; 
    height: 170px; 
    visibility: hidden; 
  }

#about:before { 
    display: block; 
    content: " "; 
    margin-top: -170px; 
    height: 170px; 
    visibility: hidden; 
  }

#contact-us:before { 
    display: block; 
    content: " "; 
    margin-top: -170px; 
    height: 170px; 
    visibility: hidden; 
  }